<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col >
          <form (ngSubmit)="SubmitForm()">

              <ion-item>
                  <ion-label>Country</ion-label>
                  <ion-select [(ngModel)]="country" name="country">
                    <template  *ngFor="let c of countries" >
                    <ion-option *ngIf="c.country_name" value="{{c.country_code}}">{{c.country_name}}</ion-option>
                  </template>
                  </ion-select>
                </ion-item>
              <ion-item>
                  <ion-label>Cities</ion-label>
                  <ion-select [(ngModel)]="city" name="city">
                    <template  *ngFor="let ct of cities | search : country" >
                    <ion-option value="{{ct.city_name}}">{{ct.city_name}}</ion-option>
                  </template>
                  </ion-select>
                
              </ion-item>
             
              <button ion-button type="submit" block>Submit</button>
            </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
